html {
  font-size: 16px;
  width: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #111; }
  body > main {
    flex-grow: 1;
    margin: 0 auto;
    padding: 2rem 4rem;
    width: 800px;
    background-color: white; }
